@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$font-type:'Poppins';
$color-tertiary: #56b8d6;
$color-tertiary-hover:#56b8d6af;
$color-primary: #000000;
$color-secondary: #472f5f;
$color-success:#3379b3;
$color-success-hover:#3379b38a;
